<!doctype html>
<html lang="en">
  <head>
  	<title>Image / Video Quality Enhancement using SRGAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!----<link rel="stylesheet" href="/templates/style.css">--->
	{{ share.load() }}
	</head>
	<body style="background-color:#BFECE5;">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5" style="background-color:teal ;padding:10px">
					<h2 class="heading-section" style="color:white;text-align:center;"><b>Image / Video Quality Enhancement using SRGAN</b></h2>
				</div>
			</div><br><br>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4" style="background-color:#ff5c33;">
									<h3 class="mb-4"><font color="white" size="6"><b>Upload Image / Video</b></font></h3>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" enctype="multipart/form-data" action="{{ url_for('upScale')}}">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="name"><font color="white" size="3">Video / Image</font></label>
													<input type="file" class="form-control" name="file_name" id="file_name" placeholder=" Name" style="background-color:#e6ffe6" accept="image/* , video/*" required>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject"><font color="white" size="3">Standardize Quality</font></label>
													<select name="quality" id="quality" class="form-control required" style="background-color:#e6ffe6" onchange="EnableDisable(this)" required>
													  <option value="" selected>--SELECT--</option>
													  <option value="Base" >Base</option>
													  <option value="144p">144p(256×144)</option>
													  <option value="240p">240p(426×240)</option>
													  <option value="360p">360p(480×360)</option>
													  <option value="480p">480p(640×480)</option>
													</select>
												</div>
											</div>
											<script type="text/javascript">
												function EnableDisable(selection) {
													var btnSubmit = document.getElementById("scale");
													if(selection.value == "Base"){
														btnSubmit.disabled = false;
													} else {
														btnSubmit.disabled = true;
													}
												};
											</script>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#"><font color="white" size="3">Scaling Factor</font></label>
													&emsp;&emsp;&emsp;
													<input type="number" style="background-color:#e6ffe6" id ="scale" name="scale" min="2" max="10" value="2" step="1" />
												</div>
											</div>
											<script>
												var source = new EventSource("/display_progress");
												source.onmessage = function(event) {
													$('.progress-bar').css('width', event.data + '%').attr('aria- 
											   valuenow', event.data);
												}
											</script>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Upscale" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<!--<img src='{{ prediction_text }}' height="350" width="450" alt="photo">-->
								<!--<image src="{{url_for('static',filename = 'downloads/enhanced_photo.jpg')}}"-->
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<img src='{{ url_for("static", filename="Super Resolution.gif") }}' height="485" width="450"/>
							</div>
						</div>
					</div>
					<br><br><br>
					<div class="row mb-5">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center" style="background-color:#0052cc">
			        			<span class="fa fa-map-marker"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Address:</span> <font color="#0052cc">S.No.124, Paud Road, Kothrud, Pune, Maharashtra 411038.</font></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center" style="background-color:#0052cc">
			        			<span class="fa fa-phone"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Phone:</span> <a href="tel://912025703400"><font color="#0052cc">+91 20257 - 03400</font></a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center" style="background-color:#0052cc">
			        			<span class="fa fa-paper-plane"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Email:</span> <a href="mailto:vrtikiwala@gmail.com"><font color="#0052cc">vrtikiwala@gmail.com</font></a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center" style="background-color:#0052cc">
			        			<span class="fa fa-globe"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Website:</span> <a href="https://egg-production-prediction.herokuapp.com/"><font color="#0052cc">egg-production-prediction.herokuapp.com</font></a></p>
				          </div>
			          </div>
							</div>
						</div>
				</div>
				{{ share.create(title='Share on: ') }}
			</div>
		</div>
	</section>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
  <!--<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
  <!--<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>-->
  
	</body>
</html>

